
<div class="container">
  <div class="row">
  	<ul>
  	  <!-- ここの表示はジャンルを登録したら番号にする。リンクも設定する -->
  	  <li>ケーキ</li> 
  	  <li>プリン</li>
  	  <li>焼き菓子</li>
  	  <li>キャンディ</li>
  	</ul>
  </div>
</div>

<div class="container">
  <img src="#" class="img-top">
</div>

<div class="container">
  <div class="row">
  	<div class="col-xs-4"></div>
  	<div class="col-xs-4">
  	  <h2>商品一覧</h2>
  	</div>
  	<div class="col-xs-4"></div>
  </div>
</div>

<div class="container">
  <div calss="row">
  	<div class="col-xs-6"></div>
  	<div class="col-xs-6"></div>
  </div>
</div>

