<div class="container">
  <div class="row">
  	<div class="col-xs-2"></div>
  	<div class="col-xs-8">
  	  <h4>本当に退会しますか？<h4>
  	  <p>退会すると会員登録情報や<br>s
  	  	これまでの購入履歴が閲覧できなくなります。<br>
  	  退会する場合は、「退会する」をクリックしたください。
  	  </p>
  	</div>
  </div>
  <div class="row">
  	<div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <button type="button" class="btn btn-danger">退会しない</button>
        <button type="button" class="btn btn-primary">退会する</button>
      </div>
    </div>
  </div>
</div>

