<div class="container">
  <div class="row">
  	<div class="col-xs-8 col-xs-offset-2">
  	  <h4>本当に退会しますか？<h4>
  	  <p>退会すると会員登録情報や<br>
  	  	これまでの購入履歴が閲覧できなくなります。<br>
  	  退会する場合は、「退会する」をクリックしください。
  	  </p>
      <%= link_to "退会しない", customers_customer_path(@customer.id),class:"btn btn-info" %>
      <%= link_to "退会する", customers_customer_path, method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-danger" %> 
    </div>
  </div>
</div>


