<div class="container">
  <div class="row">
     <h2>会員詳細画面</h2>
     　　<table class="costomer-show">
          <tbody>
            <tr>
               <td>会員ID</td>
               <td>w</td>
            </tr>
            <tr>
            　 <td>氏名</td>
           　  <td>w</td>
          　</tr>
            <tr>
               <td>フリガナ</td>
               <td>w</td>
            </tr>
            <tr>
               <td>郵便番号</td>
               <td>w</td>
            </tr>
            <tr>
              <td>住所</td>
              <td>w</td>
            </tr>
            <tr>
               <td>電話番号</td>
               <td>w</td>
           </tr>
           <tr>
           　　<td>メールアドレス</td>
           　　<td>w</td>
       　　　</tr>
          </tboby>
        </table>


        <%= link_to "編集する", edit_admins_customer_path, class: "btn btn-primary" %>
        <%= link_to "注文履歴一覧を見る", customers_orders_path, class: "btn btn-primary" %>
  </div>
</div>
