<div class="container">
  <div class="row">
  	<div class="col-md-3">
  	  <table class="table table-bordered">
  	  	<thead>
  	  	  <th>ジャンル検索</th>
  	  	</thead>
  	  	<tbody>
          <% @genres.each do |g| %>
  	  	    <tr>
              <td><%= link_to g.genre_name, customers_items_path(genre: g.id) %></td>
            </tr>
          <% end %>
  	  	</tbody>
  	  </table>
  	</div>
  	<div class="col-md-9">
      <h2>商品一覧(前件)</h2>
  	  <% @items.each do |i| %>
  	  <div class="col-md-3">
  	  	<%= attachment_image_tag i, :image, :fill, 150, 150, format: 'jpeg' %>

  	  	<p><%= link_to i.name, customers_item_path(i.id) %></p>
        <p><span>¥</span><%= i.price %><span>(税込)</span></p>
  	  </div>
  	  <% end %>
  	</div>
  </div>
</div>