// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



li{
	float:left;
	list-style:none;
}

.imag-top{
	widht:900px;
	height:400px;
	background-color:red
}