// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
	list-style:none;
	float:right;
	margin-right:20px;

}

.order-count{
	font-size: 20px;
}

.admin-title{
	margin-bottom: 50px;
}
